{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="stylesheet.css">
{% endblock %}

{% block body %}


    <h1>Product index</h1>


        {% for product in products %}

                {% for specification in product.specifications %}

                    {% endfor %}
        {% else %}
        {% endfor %}

    <div class="prodflex">
        {% for product in products %}
            <div class="card">
                <img class="prodimg" src="{{ product.img }}" alt="Denim Jeans" style="width:100%">
                <h3>{{ product.prodname }}</h3>
                <p class="price">€{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <p>{% for specification in product.specifications %}

                        {{ specification }}
                    {% endfor %}</p>
                <p><a href="{{ path('drum', {'id':product.id}) }}"><button>Add to Cart</button></a></p>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
