{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>


        {% for product in products %}

                {% for specification in product.specifications %}

                    {% endfor %}
        {% else %}
        {% endfor %}

    <div class="d-flex justify-content-center">
        {% for product in products %}
            <div class="card">
                <img src="{{ product.img }}" alt="Denim Jeans" style="width:100%">
                <h1>{{ product.prodname }}</h1>
                <p class="price">€{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <p>{% for specification in product.specifications %}

                        {{ specification }}
                    {% endfor %}</p>
                <p><a href="{{ path('drum', {'id':product.id}) }}"><button>Add to Cart</button></a></p>
            </div>
        {% endfor %}
    </div>

    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .card button:hover {
            opacity: 0.7;
        }
    </style>

{% endblock %}
