{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {#    <style>#}
    {#        .example-wrapper {#}
    {#            margin: 1em auto;#}
    {#            max-width: 800px;#}
    {#            width: 95%;#}
    {#            font: 18px/1.5 sans-serif;#}
    {#        }#}

    {#        .example-wrapper code {#}
    {#            background: #F5F5F5;#}
    {#            padding: 2px 6px;#}
    {#        }#}
    {#    </style>#}

    {#<div class="example-wrapper">#}
    {#    <h1>Hello {{ controller_name }}! ✅</h1>#}

    {#    This friendly message is coming from:#}
    {#    <ul>#}
    {#        <li>Your controller at <code><a href="{{ 'C:/school/htdocs/kaasplank/kaasplank/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>#}
    {#        <li>Your template at <code><a href="{{ 'C:/school/htdocs/kaasplank/kaasplank/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>#}
    {#    </ul>#}
    {#</div>#}


    <div class="parallax">
        <div class="centerme">
            <div class="textamp">
                <br>
                <h1>Welcome to Designated Kamp </h1> <br>
                <p>Maximize your true potential</p>
            </div>
        </div>
    </div>

    <div class="dk">
        <img src="./img/logoblue.png" alt="">
        <div>
            <h2 class="textcolor"> Mobility Gaming begins here</h2>
            <h4>The thing we love the most</h4> <br>
            <p>People ask us frequently why we only sell gaming laptops. That is because we only serve the best <br>
                gaming laptops on the market. That means that our laptops are of good quality and can maybe even replace
                <br> more expansive computers. <br>
                We also only sell laptops because our customer base is almost only students, that is why we are having
                these
                <br> great offers that no one else has!

            </p>
        </div>
    </div>

    <div class="flex homecard">
        <div class="mycard jmr">
            <h2 class="test">About us</h2>
            <p class="test"> Our goal is to supply affordable and good performing laptops to everyone.
                Click the button below to know more.
            </p>
            <button class=mybutton> Explore</button>
        </div>

        <div class="mycard jmr">
            <h2 class="test">What we sell</h2>
            <p class="test"> Looking for your perfect laptop? Or are you just looking around?
                Click the button below for all of our products </p>
            <a href="{{ '/cart' }}">
                <button class=mybutton> Explore</button>
            </a>
        </div>

        <div class="mycard jmr">
            <h2 class="test">Login first?</h2>
            <p class="test"> Already decided what you want? Login first so you can enjoy the
                functions it will bring to you.
            </p>

            <a href="{{ '/login' }}">
                <button class=mybutton> Explore</button>
            </a>
        </div>
    </div>

    <div class="background">
        <section class="fix-me-space">
            <h2 class="textcolor">Highlighted products</h2>
            <blockquote class="blockquote">
            </blockquote>

            <div class="prodflex">
                {#                {% for product in products %}#}
                <div class="card">
                    <img class="prodimg" src="./img/asus.jpg" alt="Denim Jeans" style="width:100%">
                    <h3></h3>
                    <p class="price">€900</p>
                    <p>This laptop is qualified for edditing videos and making videos </p>
                    <p>Specifications</p>
                    <p>processor, i7 Samsung, 1TB evo 970 M.2 SSD Graphics Card, NVIDIA RTX 2080ti</p>
                    <p><a href="{{ '/cart' }}"> <br>
                            <button>See products</button>
                        </a></p>
                </div>

                <div class="card">
                    <img class="prodimg" src="./img/rgbkey.jpg" alt="Denim Jeans" style="width:100%">
                    <h3></h3>
                    <p class="price">€50</p>
                    <p>This is the MSI GL65X 17 inch Gaming laptop that will fullfill all your dreams. It has RGB
                        lightning and a powerfull core. </p>
                    <p>Specifications</p>
                    <p>Corsair, MX cherry keys</p> <br>
                    <p><a href="{{ '/cart' }}">
                            <button>See products</button>
                        </a></p>
                </div>

                <div class="card">
                    <img class="prodimg" src="./img/msi.png" alt="Denim Jeans" style="width:100%">
                    <h3></h3>
                    <p class="price">€900</p>
                    <p>Logitech G502 Lightspeed gaming mouse. This mouse has switchable weights and is wireless</p>
                    <p>Specifications</p>
                    <p>GPU, RTX 3090 processor, i7 Samsung, 1TB evo 970 M.2 SSD</p>
                    <p><a href="{{ '/cart' }}">
                            <button>See products</button>
                        </a></p>
                </div>
            </div>
        </section>
    </div>


{% endblock %}
