{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hallo Admin ✅</h1>

{#        This friendly message is coming from:#}
{#        <ul>#}
{#            <li>Your controller at <code><a#}
{#                            href="{{ 'C:/school/htdocs/kaasplank/kaasplank/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code>#}
{#            </li>#}
{#            <li>Your template at <code><a#}
{#                            href="{{ 'C:/school/htdocs/kaasplank/kaasplank/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code>#}
{#            </li>#}
{#        </ul>#}
    </div>
    <script src="../public/konami.js"></script>

    <div>
        <ul class="list-group ">
            <li>
                <button class="btn btn-primary" ><a class="text-white" href="{{ path('product_index') }}">Add products</a></button>
                <button class="btn btn-primary" ><a class="text-white" href="{{ path('categorie_index') }}">Add categories</a></button>
                <button class="btn btn-primary" ><a class="text-white" href="{{ path('product_has_specification_index') }}">Add specifications to product</a></button>
                <button class="btn btn-primary" ><a class="text-white" href="{{ path('specification_index') }}">Add specifications</a></button>
            </li>
        </ul>
    </div>

{#    <div>#}
{#        <table class="table">#}
{#            <th>Customer id</th>#}
{#            <th>Products</th>#}
{#            <th>Placed at</th>#}
{#            {% for order in orders %}#}
{#            <td>{{ order.id }}</td>#}
{#            {% for orderHasProduct in order.orderHasProducts %}#}
{#            <td>{{ orderHasProduct.productkey.prodname }}</td>#}
{#            <td>{{ order.placedAt.format('d/m/Y') }}</td>#}
{#            {% endfor %}#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}


{% endblock %}
