{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div>
        <div class="d-flex">
            {% for product in products %}
                <div id="prodcard{{ product.id }}" class="card">
                    <img class="prodimg" src="{{ product.img }}" alt="Denim Jeans">
                    <h1>{{ product.prodname }}</h1>
                    <p class="price">€{{ product.price }}</p>
                    <p>{{ product.description }}</p>
                    <p>{% for specification in product.specifications %}
                            {{ specification }}
                        {% endfor %}</p>
                    <div class="d-flex justify-content-around">
                        <button value="minus" id="{{ product.id }}" class=" drgn btn">-</button>
                        <button value="plus" id="{{ product.id }}" class=" drgn btn ">+</button>
                    </div>
                    <span>Amount:</span>
                    <span id="amount{{ product.id }}">{{ product.amount }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <a href="{{ '/payment' }}"><button class="btn btn-primary">buy me</button></a>

{% endblock %}
